.rightSectionItDs {
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 65%;
  max-height: 380px;
  margin-top: 8%;
  margin-left: 6%;
}

.rightSectionItDs h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 1rem;
}

.rightSectionItDs h3 span {
  color: #dc2626;
}
.inputField {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 36vh;
}

.form input {
  flex: 1 1 0%;
  padding: 3px;
  height: 2vw;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  color: grey;
}
.form input:focus {
  border-color: #0070f3;
  outline: none;
}
.phoneInputItDs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 3vw;
}
.phoneInputItDs select,
.phoneInputItDs input {
  flex: 1 1 0%;
  padding: 3px;
  height: 2vw;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  color: grey;
}

.phoneInputItDs select {
  max-width: 76px;
  flex: 0 0 10px;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.375rem;
}
.selectCountryCode {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 80px; /* Adjust width as needed */
  margin-right: 9px; /* Space between the country code and phone number input */
}

.submitButtonItDs {
  background-color: #dc2626;
  color: white;
  padding: 0.5rem;
  border-radius: 0.375rem;
  margin-top: 1rem;
}

@media (max-width: 480px) and (max-height: 800px) {
  .rightSectionItDs h3 {
    font-size: 1.2rem;
  }

  .rightSectionItDs {
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 77%;
    height: 65%;
    max-height: 380px;
    margin-top: 8%;
    margin-left: 6%;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  .form input {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
  }
  .phoneInputItDs {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 0.01rem; */
    width: 100%;
    height: 33px;
  }
  .phoneInputItDs select,
  .phoneInputItDs input {
    flex: 1 1 0%;
    padding: 17px 10px;
    height: 33px;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    color: grey;
  }

  .phoneInputItDs select {
    max-width: 49px;
    flex: 0 0 10px;
    padding: 0.01rem;
    height: 7vw;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.375rem;
  }
  .submitButtonItDs {
    background-color: #dc2626;
    color: white;
    padding: 0.5rem;
    border-radius: 0.375rem;
    margin-top: 1.2rem;
    width: 90%;
  }
}



/* for branches */

.branchesSection {
  text-align: center;
  padding: 20px;
  max-width: 1800px;
  width: 97.5%;
  margin: 20px auto;
}

.branchesTitle {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    rgba(1, 1, 98, 1) 35%,
    rgba(3, 163, 196, 1) 49%,
    rgba(2, 2, 85, 1) 62%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.branchesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.branchCard {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 5px ridge black;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease;
}

.branchCard:hover {
  box-shadow: 0 10px 16px rgba(255, 255, 255, 0.2);
}
.branchCard h3 {
  color: #3d0eaa;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #3d0eaa;
}

.branchCard a {
  color: #182e4a;
  text-decoration: none;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.mapContainer {
  height: 200px;
  border: 2px ridge #000;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.add2 {
  border: 2px ridge #000;
  border-radius: 6px;
  box-shadow: 0px 1px 0px 1px #212121;
  padding: 10px;
}

.branchCard a:hover {
  color: #007bff;
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .branchesTitle {
    font-size: 1.5rem;
  }

  .branchesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .branchCard {
    width: 350px;
    height: 380px; /* Increased height */
    margin: 10px;
  }

  .mapContainer {
    height: 330px; /* Increased height for better visibility */
    margin-bottom: 10px;
  }

  .add2 {
    height: 120px;
    font-size: 1rem;
  }

  .branchCard a {
    font-size: 12px;
  }
}