@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
  --font-sans: "Lato", sans-serif;
  --primary-color: #0e46ed;
  --hover-color: #0a36b8;
  --text-color: #333;
}

/* Main Section */
.cardsSection {
  text-align: center;
  padding: 2rem;
  max-width: 1800px;
  margin: 0 auto;
  width: 97.5%;
}

/* Title Styling */
.cardsTitle {
  font-size: 34px;
  text-shadow:
    0 0 10px #fff,
    0 0 20px var(--primary-color),
    0 0 30px #182e4a;
  background: linear-gradient(90deg, #fff 35%, #03a3c4 49%, #fff 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 8px;
  font-family: var(--font-sans);
  margin-bottom: 2rem;
}

/* Card Wrapper */
.pageContent {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding: 1rem;
  gap: 1rem;
}

/* Individual Card */
.card {
  flex: 0 0 220px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  text-align: center;
}

/* Card Title */
.cardTitle {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 2px solid #b1aaaa;
  border-radius: 10px;
  background-color: rgb(33, 38, 79);
  padding: 5px;
}

/* Card Content */
.cardCopy {
  font-family: var(--font-sans);
  font-size: 0.9rem;
  line-height: 1.35;
  color: var(--text-color);
  flex-grow: 1;
}

/* Button */
.cardButton {
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 60px;
}

.cardButton:hover {
  background-color: var(--hover-color);
}

/* Responsive Design */
@media (max-width: 480px) {
  .pageContent {
    justify-content: space-around;
  }
  .cardsTitle {
    font-size: 1.2rem;
    max-width: 400px;
  }
}
