.certificateSection {
  background-color: white;
  padding: 20px;
  color: #000000;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  max-width: 1800px;
  width: 97.5%;
  padding-bottom: 80px;
}

.certificateTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 8px;
  background: linear-gradient(
    90deg,
    rgba(1, 1, 98, 1) 35%,
    rgba(3, 163, 196, 1) 49%,
    rgba(2, 2, 85, 1) 62%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.certificateSubtitle {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

.certificateContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.certificateImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  box-shadow: inset 2px 2px 2px 0px rgba(98, 96, 96, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.certificateImage img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  border: 2px solid #000000;
}

.certificateText {
  flex: 2;
  margin-left: 20px;
  font-family: "Forum", serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
}

.certificateText h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.certificateText p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.outlineBtn {
  margin-left: 65px;
  border: 2px solid #007bff;
  color: #007bff;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.outlineBtn:hover {
  background: #007bff;;
  color: #f1f1f1;
}

@media (max-width: 768px) {
  .certificateSection {
    padding: 10px;
  }

  .certificateTitle {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .certificateContent {
    flex-direction: column;
  }

  .certificateImage {
    order: 2;
    padding: 10px;
    max-width: 100%;
  }

  .certificateImage img {
    max-width: 100%;
    height: auto;
  }

  .certificateText {
    order: 3;
    margin-left: 0;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
  }

  .certificateText h2 {
    font-size: 1rem;
  }

  .certificateText p {
    font-size: 0.9rem;
  }

  
.outlineBtn {
  margin-left: 65px;
  border: 2px solid #007bff;
  color: #007bff;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.outlineBtn:hover {
  background: rgb(85, 104, 230);
  color: #f1f1f1;
  border: 2px solid #fafbfd;
  transform: scale(1.05);
}

}
