.branchesSection {
  text-align: center;
  padding: 20px;
  max-width: 1800px;
  width: 97.5%;
  margin: 20px auto;
}

.branchesTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  letter-spacing: 8px;
  text-shadow:
    0 0 0px #fff,
    0 0 10px #fff,
    0 0 10px #0073e6,
    0 0 20px #182e4a,
    0 0 20px #182e4a,
    0 0 30px #182e4a,
    0 0 30px #182e4a;
  background: linear-gradient(90deg, #fff 35%, rgba(3, 163, 196, 1) 49%, #fff 62%);
  -webkit-background-clip: text;
  color: transparent;
}

.branchesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.branchCard {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 5px ridge black;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease;
}

.branchCard:hover {
  box-shadow: 0 10px 16px rgba(255, 255, 255, 0.2);
}

.mapContainer {
  height: 200px;
  border: 2px ridge #000;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.branchCard h3 {
  color: #3d0eaa;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #3d0eaa;
}

.branchCard a {
  color: #182e4a;
  text-decoration: none;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.add2 {
  border: 2px ridge #000;
  border-radius: 6px;
  box-shadow: 0px 1px 0px 1px #212121;
  padding: 10px;
}

.branchCard a:hover {
  color: #007bff;
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .branchesTitle {
    font-size: 1.5rem;
  }

  .branchesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .branchCard {
    width: 350px;
    height: 300px;
    margin: 10px;
  }

  .mapContainer {
    width: 270px;
    height: 145px;
    margin-bottom: 10px;
  }

  .add2 {
    height: 70px;
    font-size: 1rem;
  }

  .branchCard a {
    font-size: 12px;
  }
}
